{% load static %}
<header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'homepage:index'%}"  target="_self">
          <img src="{% static 'img/cat.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Escape
        </a>        
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage:index' %}">
              Главная
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link" href="{% url 'about:about' %}">
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about:contacts' %}">
              Наши контакты
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:basket' %}">
              BASKET
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:userpage' %}">
              USERPAGE.LOGO
            </a>
          </li>
            {% if user.is_authenticated %}
              <li>User: {{ user.get_username }}</li>
              <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>      
      </div>
    </nav> 
  </header>