{% extends "base.html" %}
{% load static %}
{%block title %}
<title>ESCAPE</title>
<link rel="stylesheet" href="{% static 'style/main.css' %}">
{%endblock%}
{%block content%}
<body>
    <main class="main-content">
        <nav class="nav-buttons">
            <button class="nav-btn">Все</button>
            <button class="nav-btn">Вверх</button>
            <button class="nav-btn">Низ</button>
            <button class="nav-btn">Предметы</button>
        </nav>
        <div class="gallery">
            {% for product in product_list %} 
                    <a href="{% url 'homepage:product_detail' product.id %}" class="gallery__item">
                        <img src="{% static product.path_to_product %}" alt="логотип на футболке" class="card__image">
                    </a>  
            {% endfor %}
        </div>
    </main>
    <script src="{% static 'src/script.js' %}"></script>
</body>
{% endblock %}
</html>