{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Доставка</title>
    <link rel="stylesheet" href="{% static 'style/delivery.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <a href="{% static 'homepage:main' %}" class="close-button">
            <img src="{% static 'images/image 31.svg' %}" alt="крестик" class="">
        </a>
        <h1>Доставка</h1>
        <p><strong>При заказе от 15000 руб. действует бесплатная стандартная доставка.</strong></p>
        <p>После оплаты, заказ отправляется на изготовление, далее отправляется к вам.</p>
        <p>Как правило, отправка заказов осуществляется в течение 3-7 дней.</p>
        <p>Трек-номер отслеживания доставки, чеки и вся информация придет на ваш E-mail после оформления заказа.</p>
    </div>
{% endblock %}